table{
	table-layout: initial;
	width: 180px;
	border: solid 1px black; 

}
body {
	background-color:#a9b0ab;
	
}
div{
	border: solid 1px black;
}
#tabla{
	display: flex;
	justify-content: center;
}
h1{
	text-align: center;

}